body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    width: 100%;
    font-family: roboto, arial, sans-serif;
    justify-content: center;
    padding-top: 10px;
    margin: 0 auto;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: #F9FAF8;
    margin: 5px;
}

#links {
    margin-left: auto;
    margin-right: 100px;
}

#logo {
    margin-left: 100px;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: roboto, arial, sans-serif;
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.header div {
    width: 600px;
    height: auto;
    padding: 10px;
}

#hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

#hero-text {
    margin-left: 100px;
    justify-content: left;
    font-size: 18px;
    color: #E5E7EB;
}

#hero-image {
    margin-right: 100px;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: auto;
    flex-shrink: 0;
}

#hero-image img {
    width: 100%;
    height: auto;
}

#signup {
    color: #E5E7EB;
    background-color: #3882f6;
    width: 90px;
    height: 20px;
    line-height: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    text-align: center;
    
}

#signup a {
    text-decoration: none;
    color: #E5E7EB;
}

.main {
    width: 100%;
    font-family: roboto, arial, sans-serif;
    color: #1F2937;
}

.main h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.content img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    object-fit: cover;
}

.content div {
    width: 200px;
    height: auto;
}

.quote {
    width: 800px;
    font-family: roboto, Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    justify-content: center;
    margin: 80px auto;
}

#name {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin: 0;
}